*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: wheat;
}
.navbar{
    display: flex;
    background-color: aqua;
    font-size: 20px;
    justify-content: space-between;
    margin: 20px;
}
.menu-items{
    border: 3px solid green;
    background-color: blueviolet;
    font-size: 30px;
    color: beige;
    border-radius: 12px;
    margin: 20px;

}
.menubar{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: chartreuse;
    color: black;
}
.lgn, .sgn{
    border: 3px solid green;
    background-color: blueviolet;
    font-size: 30px;
    color: beige;
    border-radius: 12px;
    margin: 20px;
    margin-top: 32px;
}
.main-content{
    display: flex;
    justify-content: space-between;
    /* height: 200px; */
    background-color: chocolate;
    margin: 20px;
    border: 5px solid greenyellow;
}
.about{
    width:40%;
    font-size: 20px;
    color: white;
    text-align: justify;
}
.news{
    width:30%;
}
.login-panel{
    width:30%;
}
table{
    font-size: 30px;
    border: 10px solid gold;
    border-radius: 10px;
}
.footer{
    width: 100%;
    margin: 20px;
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
}